@charset "UTF-8";


.clearfix::after  {
  content : "";
  clear : both;
  display : block;
}

body {
  font-family : Raleway, Lato ;
}

.bolt--width{
  width : 100%;
}



@media screen and (min-width:1200px){

  .inner__width {
  width : 1100px;
  margin  : 0 auto;
  }

  .bolt__header {
  position: fixed;
  top : 0;
  left  : 0;
  z-index: 10;
  background-color  :  #fff;
  }


  .icon-bolt {
  color : rgba(128, 128, 128, 0.78);
  cursor: pointer;
  float : left;
  }

  .header__wrapper {
  padding : 15px 0;
  }

  .bolt__header--btn {
  display: inline-block;
  text-decoration : none;
  color : #fff;
  background-color  : #74cfae;
  }

  .btn__contact {
  float : right;
  font-size : 12px;
  line-height : 12px;
  padding : 14px 12px;
  }

  .icon-bolt:hover,
  .bolt__header--btn.btn__contact:hover {
  opacity: 0.7;
  transition: all 0.5s;
  }

  .bolt__main {
  margin-top: 78px;
  }

  .title-all{
  background-color  : #f2f2f2;
  }

  .title__main--wrapper {
    text-align: center;
  padding : 250px 0;
  box-sizing: border-box;
  }

  .title__main__top {
  color : #74cfae;
  font-size : 90px;
  font-weight : 700;
  margin-bottom: 20px;
  }

  .title__main__bottom {
  font-size : 30px;
  color : #c0c0c0;
  }

  .title__sub{
  background-color: #74cfae;
  }

  .title__sub--wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px ;
  }

  .title__sub__right {
  color: #fff;
  text-align: center;
  width: 65%;
  margin-left: 90px;
  }

  .title__sub__right__theme {
  font-size: 24px;
  margin: 20px 0 35px;
  }

  .title__sub__right__text {
  font-family: Raleway;
  font-size: 20px;
  line-height: 24px;
  }

  .work {
  background-color: #f2f2f2;
  padding: 60px 0 70px;
  }

  .work__headline {
  font-size: 24px;
  text-align: center;
  }

  .work__image-group {
  font-size: 0 ;
  margin-top: 40px;
  padding-bottom: 90px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

  .work__image {
  transition: .3s;
  opacity: 0.7;
  margin-top: 80px;
  }

  .work__image:nth-child(-n+3){
  margin-top: 0;
  }


  .work__image:hover {
  opacity: 1;
  }


  .work__bottom {
  font-size : 0;
  display: flex;
  padding: 0 180px 0 180px;
  }

  .work__bottom__text {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  font-family: Raleway;
  width: 76%;
  margin-right: 90px;
  }


  .btn__email {
  font-size : 12px;
  line-height: 12px;
  padding : 14px 20px;
  text-decoration : none;
  transition: all 0.3s;
  }

  .bolt__header--btn.btn__email:hover {
  color: #333;
  }

  .our-skills {
  background-color: #4e4e4e;
  padding: 70px 0 100px;
  }

  .our-skills__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 70px;
  color: #fff;
  }

  .our-skills__img-group {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  }

  .our-skills__item {
  margin-right: 180px;
  }

  .our-skills__item:last-child {
  margin-right: 0;
  }

  .our-skills__subject {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  font-family: Lato;
  }

  .nav__list {
  background-color:  #f2f2f2;
  padding: 200px 0;
  }

  .nav__group{
  display:  flex;
  justify-content: center;
  align-items: flex-start;
  }

  .nav__item {
  text-align: center;
  width: 185px;
  padding: 20px 0;
  display: inline-block;
  color: #74cfae;
  font-size: 34px;
  text-decoration: none;
  box-sizing: border-box;
  }

  .nav__item:hover {
  background-color:  #fff;
  transition: all 0.3s;
  }

  .footer__copyright {
  background-color:  #74cfae;
  padding: 20px 0 25px;
  }

  .footer__copyright__text {
    color:  #fff;
    font-size: 12px;
    text-align: right;
    font-family: Lato;
  }

}





@media screen and (min-width: 767px) and (max-width: 1199px) {

  .inner__width {
  width : 97%;
  margin  : 0 auto;
  }

  .bolt__header {
  position: fixed;
  padding : 15px 0  15px  0;
  top : 0;
  left  : 0;
  z-index: 10;
  background-color  :  #fff;
  }

  .icon-bolt {
  color : rgba(128, 128, 128, 0.78);
  cursor: pointer;
  float : left;
  }


  .bolt__header--btn {
  display: inline-block;
  text-decoration : none;
  color : #fff;
  background-color  : #74cfae;
  cursor : pointer;
  }

  .btn__contact {
  float : right;
  font-size : 12px;
  line-height : 12px;
  padding : 14px 12px;
  }

  .icon-bolt:hover,
  .bolt__header--btn.btn__contact:hover {
  opacity: 0.7;
  transition: all 0.5s;
  }

  .title-all{
  background-color  : #f2f2f2;
  }
  .bolt__main {
  margin-top: 78px;
  }

  .title__main--wrapper {
  text-align: center;
  padding : 250px 0 250px 0;
  box-sizing: border-box;
  }

  .title__main__top {
  color : #74cfae;
  font-size : 90px;
  font-weight : 700;
  margin-bottom: 20px;
  }

  .title__main__bottom {
  font-size : 30px;
  color : #c0c0c0;
  }

  .title__sub{
  background-color: #74cfae;
  text-align: center;
  padding: 50px 0 25px;
  }

  .title__sub__right__theme {
  font-size: 24px;
  margin: 20px 0 35px 0;
  text-align: center;
  color: #fff;
  }

  .title__sub__right__text {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  }

  .work {
  background-color: #f2f2f2;
  padding-top: 60px;
  text-align: center;
  }

  .work__headline {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  }

  .work__image {
  display: block;
  opacity: 0.7;
  transition: all .3s;
  }
  .work__image:hover {
  opacity: 1;
  }

  .work__image:nth-child(3n) {
  margin-bottom:  80px;
  }

  .work__bottom {
  padding-bottom: 70px;
  }

  .work__bottom__text {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-family: Raleway;
  }

  .work__bottom__email {
  margin-top: 40px;
  }

  .btn__email {
  font-size : 12px;
  padding : 14px 20px;
  text-decoration : none;
  display: inline-block;
  }

  .bolt__header--btn.btn__email:hover {
  color: #333;
  transition: all 0.3s;
  }

  .our-skills {
  background-color: #4e4e4e;
  padding: 70px 0 88px;
  }

  .our-skills__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 70px;
  color: #fff;
  }

  .our-skills__img-group {
  text-align: center;
  }

  .our-skills__item {
  margin-bottom: 88px;
  }
  .our-skills__item:last-child {
  margin-bottom: 0;
  }

  .our-skills__subject {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  font-family:  Lato;
  }

  .nav__list {
  background-color:  #f2f2f2;
  padding: 200px 0;
  }

  .nav__group{
  text-align: center;
  }

  .nav__item {
  padding: 20px 0;
  width: 20%;
  display: inline-block;
  color: #74cfae;
  font-size: 34px;
  text-decoration: none;
  box-sizing: border-box;
  }

  .nav__item:hover {
  background-color:  #fff;
  transition: all 0.3s;
  }

  .nav__group .icons  {
  font-size: 1.2em;
  }

  .footer__copyright {
  background-color:  #74cfae;
  padding: 20px 0 25px;
  }

  .footer__copyright__text {
  color:  #fff;
  font-size: 12px;
  text-align: right;
  font-family: Lato;
  }

}


@media screen and (max-width:766px) {

  .inner__width {
    width : 97%;
    margin  : 0 auto;
  }

  .bolt__header {
    position: fixed;
    padding : 15px 0;
    top : 0;
    left  : 0;
    z-index: 10;
    background-color  :  #fff;
  }

  .icon-bolt {
    color : rgba(128, 128, 128, 0.78);
    cursor: pointer;
    float : left;
  }


  .bolt__header--btn {
    display: inline-block;
    text-decoration : none;
    color : #fff;
    background-color  : #74cfae;
    cursor : pointer;
  }

  .btn__contact {
  display: none;
  }

  .icon-bolt:hover,
  .bolt__header--btn.btn__contact:hover {
    opacity: 0.7;
    transition: all 0.5s;
  }

  .header__ham {
    position: relative;
    float: right;
    padding : 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .top-ham {
    display: block;
    width: 16px;
    height: 1px;
    margin-bottom: 3px;
    background-color: lightgray;
  }
  .central-ham {
    display: block;
    width: 16px;
    height: 1px;
    margin-bottom: 3px;
    background-color: lightgray;
  }
  .bottom-ham {
    display: block;
    width: 16px;
    height: 1px;
    background-color: lightgray;
  }


  .title-all{
    background-color  : #f2f2f2;
  }
  .bolt__main {
    margin-top: 78px;
  }

  .title__main--wrapper {
    text-align: center;
    padding : 160px 0 130px;
    box-sizing: border-box;
  }

  .title__main__top {
    color : #74cfae;
    font-size : 80px;
    font-weight : 700;
    margin-bottom: 20px;
  }

  .title__main__bottom {
    font-size : 30px;
    color : #c0c0c0;
  }

  .title__sub{
    background-color: #74cfae;
    text-align: center;
    padding: 50px 0 25px;
  }

  .title__sub__right__theme {
    font-size: 30px;
    margin: 20px 0 35px 0;
    text-align: center;
    color: #fff;
  }

  .title__sub__right__text {
    color: #fff;
    font-family: Raleway;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .work {
    background-color: #f2f2f2;
    padding-top: 60px;
    text-align: center;
  }

  .work__headline {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
  }

  .work__image {
    display: block;
    opacity: 0.7;
    transition: all .3s;
  }
  .work__image:hover {
    opacity: 1;
  }

  .work__image:nth-child(3n) {
    margin-bottom:  80px;
  }

  .work__bottom {
    padding-bottom: 70px;
  }

  .work__bottom__text {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-family: Raleway;
  }

  .work__bottom__email {
    margin-top: 40px;
  }

  .btn__email {
    font-size : 12px;
    padding : 14px 20px;
    text-decoration : none;
    display: inline-block;
  }

  .bolt__header--btn.btn__email:hover {
    color: #333;
    transition: all 0.3s;
  }

  .our-skills {
    background-color: #4e4e4e;
    padding: 70px 0 88px;
  }

  .our-skills__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 70px;
    color: #fff;
  }

  .our-skills__img-group {
    text-align: center;
  }

  .our-skills__item {
    margin-bottom: 88px;
  }
  .our-skills__item:last-child {
    margin-bottom: 0;
  }

  .our-skills__subject {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    font-family:  Lato;
  }

  .nav__list {
    background-color:  #f2f2f2;
    box-sizing: border-box;
    padding: 50px 15px;
  }

  .nav__group{
    text-align: center;
  }

  .nav__item {
    display: block;
    margin: 0 auto;
    padding: 40px 0;
    color: #74cfae;
    font-size: 34px;
    text-decoration: none;
    box-sizing: border-box;
  }

  .nav__item:hover {
    background-color:  #fff;
    transition: all 0.3s;
  }

  .footer__copyright {
    background-color:  #74cfae;
    padding: 30px 10px 35px;
    box-sizing: border-box;
  }

  .footer__copyright__text {
    color:  #fff;
    font-size: 18px;
    text-align: right;
    font-family: Lato;
    font-weight: lighter;
  }

}
